<div class="row">
   <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-6">
            </div>
        </div>
       
        <div class="row">
            <div class="col-sm-12">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-sm-8">
                                <h3 class="panel-title">Обмен данными между устройством и ACS</h3>
                            </div>
                            <div class="col-sm-4 text-right">
                                <button type="button" class="btn btn-default" onclick="refresh_client_log(1)">Обновить</button>
                            </div>
                        </div>

                    </div>
                    <div class="panel-body">
                        <div id="client_log" >
                            Асинхронный запрос ...
                        </div>
                    </div>
                </div>       




            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-sm-10">
                                <h3 class="panel-title">Connection request log</h3>
                            </div>
                            <div class="col-sm-2 text-right">
                                <button type="button" class="btn btn-default" onclick="refresh_listner_log(1)">Обновить</button>
                            </div>
                        </div>

                    </div>
                    <div class="panel-body">
                        <div id="listner_request_log">
                            Асинхронный запрос ...
                        </div>
                    </div>
                </div>       

            </div>
        </div>
   </div>
</div>
